<div *ngIf='film' class='flex flex-col rounded-2xl m-2 p-2'>
  <!-- Header -->
  <span class='text-2xl font-bold m-0'>Rent film</span>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]='rentalForm'>
      <ng-template matStepLabel>Rental information</ng-template>
      <form [formGroup]='rentalForm'>
        <!-- Show list of stores -->
        <div class='border border-gray-200 rounded p-2'>
          <p class='text-base'>In which store do you want to rent it?</p>
          <mat-chip-listbox aria-label='Store selection' [multiple]='false' [required]='true'
                            formControlName='selectedStoreControl'>
            <mat-chip-option *ngFor='let store of film.availableStores' [value]='store'>{{store.address.address}}
              ({{store.address.city.city}}, {{store.address.city.country.country}})
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class='border border-gray-200 rounded p-2 my-4'>
          <p class='text-base'>What day do you want to rent it?</p>
          <mat-chip-listbox aria-label='Rental date selection' [multiple]='false' [required]='true'
                            formControlName='selectedDateControl'>
            <mat-chip-option [value]='getToday()'>Today - {{formatDate(getToday())}} </mat-chip-option>
            <mat-chip-option [value]='getDatePlusNDays(1)'>Tomorrow
              - {{ formatDate(getDatePlusNDays(1)) }}</mat-chip-option>
            <mat-chip-option [value]='getDatePlusNDays(2)'>{{ formatDate(getDatePlusNDays(2)) }}</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <!-- <ng-template matStepLabel>In which store do you want to rent it?</ng-template>
        <ng-template matStepLabel>What day do you want to rent it?</ng-template> -->
        <!-- <mat-error *ngIf="rentalForm.controls['selectedStoreControl'].invalid && rentalForm.controls['selectedStoreControl'].touched">
          Chips are required.
        </mat-error> -->
        <div class='flex justify-end'>
          <button mat-button (click)='this.dialogRef.close()' class='mr-2'>Cancel</button>
          <button mat-flat-button matStepperNext class='rounded-button' color='primary'>
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm rental</ng-template>
      <div *ngIf='isValidData' class='bg-gray-100 w-full p-4 rounded-lg mb-4'>
        <!-- Film title -->
        <div class='flex mb-2'>
          <div class='flex items-center px-1'>
            <span
              class='inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 text-base'>
              Film
            </span>
          </div>
          <div class='flex items-center'>
            <span class='text-base font-normal'> {{film.title}} ({{film.release_year}}) </span>
          </div>
        </div>

        <!-- Store details -->
        <div class='flex mb-2'>
          <div class='flex items-center px-1'>
            <span
              class='inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 text-base'>
              Store
            </span>
          </div>
          <div class='flex items-center'>
            <span class='text-base font-normal'>{{storeLabel}}</span>
          </div>
        </div>

        <!-- Rental date -->
        <div class='flex mb-2'>
          <div class='flex items-center px-1'>
            <span
              class='inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 text-base'>
              Rental date
            </span>
          </div>
          <div class='flex items-center'>
            <span class='text-base font-normal'>{{dateLabel}}</span>
          </div>
        </div>

        <!-- Rental price -->
        <div class='flex mb-2'>
          <div class='flex items-center px-1'>
            <span
              class='inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 text-base'>
              Rental date
            </span>
          </div>
          <div class='flex items-center'>
            <span class='text-base font-normal'>{{film.rental_rate}}/day</span>
          </div>
        </div>


      </div>
      <div class='flex justify-end'>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button matStepperNext class='rounded-button' color='primary' (click)='createRental()'>
          Confirm
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
