<h1 mat-dialog-title tabindex="0" aria-label="Rental details dialog" class="text-2xl font-bold" style="margin: 0">
  Rental details
</h1>
<mat-divider />
<mat-dialog-content>
  <!-- Film details -->
  <div tabindex="0" aria-label="Film details section" class="flex flex-col">
    <h4 class="text-xl font-bold" style="margin: 0">Film details</h4>
    <div class="grid grid-cols-10 gap-2 border rounded-2xl w-full p-4">
      <!-- Film -->
      <div tabindex="0" aria-label="Film title" class="col-span-4 md:col-span-2">
        <span class="rf-blue-label w-full">Film</span>
      </div>
      <div class="col-span-6 md:col-span-8">
        <span tabindex="0" class="mat-body-2"> {{ rental.inventory.film.title }}</span>
      </div>
      <!-- Store -->
      <div tabindex="0" aria-label="Store where it was rented" class="col-span-4 md:col-span-2">
        <span class="rf-blue-label w-full">Store</span>
      </div>
      <div class="col-span-6 md:col-span-8">
        <span tabindex="0" class="mat-body-2">
          {{ rental.inventory.store.address.address }} ({{ rental.inventory.store.address.city.city }},
          {{ rental.inventory.store.address.city.country.country }} )
        </span>
      </div>
    </div>
  </div>

  <!-- General details -->
  <div tabindex="0" aria-label="General details section" class="flex flex-col my-2">
    <h4 class="text-xl font-bold" style="margin: 0">General details</h4>
    <div class="grid grid-cols-10 gap-2 border rounded-2xl w-full p-4">
      <!-- Rental start -->
      <div tabindex="0" aria-label="Rental start date" class="col-span-5 md:col-span-3">
        <span class="rf-blue-label w-full">Rental start</span>
      </div>
      <div class="col-span-5 md:col-span-7">
        <span tabindex="0" class="mat-body-2"> {{ rental.rental_date | date : 'dd/MM/yyyy' }}</span>
      </div>
      <!-- Rental end -->
      <div tabindex="0" aria-label="Rental date end" class="col-span-5 md:col-span-3">
        <span class="rf-blue-label w-full">Rental end</span>
      </div>
      <div class="col-span-5 md:col-span-7">
        <span tabindex="0" *ngIf="rental.return_date" class="mat-body-2">
          {{ rental.return_date | date : 'dd/MM/yyyy' }}</span
        >
        <span tabindex="0" *ngIf="!rental.return_date" class="mat-body-2">Not returned yet!</span>
      </div>
      <!-- Total days -->
      <div tabindex="0" aria-label="Total days renting" class="col-span-5 md:col-span-3">
        <span class="rf-blue-label w-full">Total days</span>
      </div>
      <div class="col-span-5 md:col-span-7">
        <span tabindex="0" *ngIf="rental.return_date" class="mat-body-2"> {{ rental.rental_period }} days </span>
        <span tabindex="0" *ngIf="!rental.return_date" class="mat-body-2">
          {{ rental.rental_period }} days (in progress)
        </span>
      </div>
    </div>
  </div>

  <!-- Payment details -->
  <div tabindex="0" aria-label="Payment details section" class="flex flex-col">
    <h4 class="text-xl font-bold" style="margin: 0">Payment details</h4>
    <div *ngIf="rental.return_date" class="grid grid-cols-10 gap-2 border rounded-2xl w-full p-4">
      <!-- Amount -->
      <div tabindex="0" aria-label="Amount payed" class="col-span-5 md:col-span-3">
        <span class="rf-blue-label w-full">Amount</span>
      </div>
      <div class="col-span-5 md:col-span-7">
        <span tabindex="0" class="mat-body-2">€ {{ rental.payment.amount }}</span>
      </div>
      <!-- Date -->
      <div tabindex="0" aria-label="Date returned" class="col-span-5 md:col-span-3">
        <span class="rf-blue-label w-full">Date</span>
      </div>
      <div class="col-span-5 md:col-span-7">
        <span tabindex="0" *ngIf="rental.return_date" class="mat-body-2">
          {{ rental.payment.payment_date | date : 'dd/MM/yyyy' }}</span
        >
        <span tabindex="0" *ngIf="!rental.return_date" class="mat-body-2">-</span>
      </div>
      <!-- Success alert -->
      <div class="flex bg-green-100 text-green-700 px-4 py-3 rounded-2xl col-span-10" role="alert">
        <span tabindex="0" class="mat-body-2">This rental has been paid!</span>
      </div>
    </div>
    <div tabindex="0" *ngIf="!rental.return_date" class="grid grid-cols-10 gap-2 border rounded-2xl w-full p-4">
      <!-- Est. ammount -->
      <div tabindex="0" aria-label="Estimated amount to pay" class="col-span-5 md:col-span-3">
        <span class="rf-blue-label w-full">Est. ammount</span>
      </div>
      <div class="col-span-5 md:col-span-7">
        <span tabindex="0" *ngIf="rental.inventory.film.replacement_cost" class="mat-body-2"
        >€ {{ rental.rental_period * rental.inventory.film.replacement_cost }}</span
        >
        <span tabindex="0" *ngIf="!rental.inventory.film.replacement_cost" class="mat-body-2"
        >€ {{ rental.rental_period * rental.inventory.film.rental_rate }}</span
        >
      </div>
      <!-- Warning alert -->
      <div class="flex bg-orange-100 text-orange-700 px-4 py-3 rounded-2xl col-span-10" role="alert">
        <span tabindex="0" class="mat-body-2">This rental is still in progress!</span>
      </div>
    </div>
  </div>
  <div class="flex justify-end content-end gap-2 mt-4">
    <button aria-label="Close dialog" title="Close dialog" mat-flat-button color="primary"
            (click)="this.dialogRef.close()">
      Close
    </button>
  </div>
</mat-dialog-content>
<!--<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button aria-label="Close this dialog" mat-flat-button color="primary" (click)="this.dialogRef.close()">Close</button>
</mat-dialog-actions>-->
