<main class="rf-login-background">
  <div class="rf-login-box">
    <mat-card class="rf-login-card">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-primary">Authentication</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="rf-flex-column-stretch">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="Username" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="Password" />
          </mat-form-field>
        </form>
        <button mat-raised-button class="rf-w-full">Enter</button>
      </mat-card-content>
    </mat-card>
  </div>
</main>
