.rf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

mat-card-title {
  color: #3f51b5;
  text-transform: uppercase;
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 24px;
  text-align: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
  height: 48px !important;
  border-radius: 8px !important;
}

@media screen and (max-width: 600px) {
  mat-card {
    padding: 12px;
  }
}
