<main>
  <div class="rf-theme">
    <button (click)="this.darkModeService.toggleDarkMode()" mat-stroked-button
            [attr.aria-label]="this.darkModeService.darkMode ? 'Active light mode' : 'Active dark mode'"
            [attr.title]="this.darkModeService.darkMode ? 'Active light mode' : 'Active dark mode'">
      <mat-icon>{{ this.darkModeService.darkMode ? 'light_mode' : 'dark_mode'}}</mat-icon>
      {{this.darkModeService.darkMode ? 'Light mode' : 'Dark mode' }}
    </button>
  </div>
  <div class="rf-login-form">
    <mat-card class="mat-elevation-z1">
      <h1 mat-card-title class="rf-title">Login</h1>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" name="username" required>

            <mat-error
              *ngIf="loginForm.controls?.['username']?.errors && (loginForm.touched || loginForm.dirty)">
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" name="password" required>
            <mat-error
              *ngIf="loginForm.controls?.['password']?.errors && (loginForm.touched || loginForm.dirty)">
              Password is required with a minimum of 4 characters
            </mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" [disabled]="!loginForm.valid" (click)="confirm()">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</main>
