table {
  min-width: 600px !important;
  overflow-x: auto;

  button {
    border-radius: 24px;
  }
}

mat-paginator {
  min-width: 600px !important;
}

.rf-table-row {
  border-bottom: 1px solid #d1cdea;
}

.mat-mdc-row:hover {
  cursor: pointer !important;
  opacity: 0.8 !important;
}
