<div class="rf-table-responsive">
  <table
    mat-table
    matSort
    (matSortChange)="this.announceSortChange.emit($event)"
    [dataSource]="data"
    class="mat-elevation-z1 table"
  >
    <caption>
      Film rental history
    </caption>
    <!-- title -->
    <ng-container matColumnDef="title" sticky>
      <th
        mat-header-cell
        *matHeaderCellDef
        scope="col"
        mat-sort-header
        sortActionDescription="Sort by title"
      >
        Title
      </th>
      <td
        mat-cell
        class="rf-table-row"
        *matCellDef="let rent"
        [attr.aria-label]="'Title ' + rent.inventory.film.title"
      >
        {{ rent.inventory.film.title }}
      </td>
    </ng-container>

    <!-- rental_date -->

    <ng-container matColumnDef="rental_date">
      <th
        mat-header-cell
        *matHeaderCellDef
        scope="col"
        mat-sort-header
        sortActionDescription="Sort by rental date"
      >
        Rental date
      </th>
      <td
        class="rf-table-row"
        mat-cell
        *matCellDef="let rent"
        [attr.aria-label]="'Rental date ' + (rent.rental_date | date : 'dd/MM/yyyy')"
      >
        {{ rent.rental_date | date : 'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <!-- return_date -->
    <ng-container matColumnDef="return_date">
      <th
        class="rf-text-center"
        scope="col"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by return date"
      >
        Return date
      </th>
      <td
        class="rf-table-row"
        mat-cell
        *matCellDef="let rent"
        [attr.aria-label]="
          'Return date ' + (rent.return_date ? (rent.return_date | date : 'dd/MM/yyyy') : 'In progress...')
        "
      >
        {{ rent.return_date ? (rent.return_date | date : 'dd/MM/yyyy') : 'In progress...' }}
      </td>
    </ng-container>

    <!-- rental period -->
    <ng-container matColumnDef="rental_period">
      <th
        class="rf-text-center"
        mat-header-cell
        *matHeaderCellDef
        scope="col"
        mat-sort-header
        sortActionDescription="Sort by rental period"
      >
        Rental period
      </th>
      <td
        class="rf-table-row"
        mat-cell
        *matCellDef="let rent"
        [attr.aria-label]="'Rental period ' + rent.return_date ? rent.rental_period + ' days' : 'In progress...'"
      >
        {{ rent.return_date ? rent.rental_period + ' days' : 'In progress...' }}
      </td>
    </ng-container>

    <!-- address -->
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        scope="col"
        mat-sort-header
        sortActionDescription="Sort by address"
      >
        Address
      </th>
      <td
        class="rf-table-row"
        mat-cell
        *matCellDef="let rent"
        [attr.aria-label]="'Address ' + rent.inventory.store.address.address"
      >
        {{ rent.inventory.store.address.address }}
      </td>
    </ng-container>

    <!-- amount -->
    <ng-container matColumnDef="amount">
      <th
        mat-header-cell
        *matHeaderCellDef
        scope="col"
        mat-sort-header
        sortActionDescription="Sort by amount"
      >
        Amount
      </th>
      <td
        class="rf-table-row"
        mat-cell
        *matCellDef="let rent"
        [attr.aria-label]="rent.payment ? rent.payment.amount + ' €' : 'In progress to be returned'"
      >
        {{ rent.payment ? rent.payment.amount + ' €' : 'In progress...' }}
      </td>
    </ng-container>

    <!-- rental info button -->
    <ng-container matColumnDef="rental-info" sticky>
      <th class="rf-text-center" mat-header-cell *matHeaderCellDef role="columnheader" scope="col">Rent details</th>
      <td mat-cell *matCellDef="let rental" [attr.aria-label]="'Rent details of ' + rental.inventory.film.title">
        <button
          class="xl:w-2/3 w-full rf-text-center"
          mat-flat-button
          color="primary"
          (click)="this.infoRental.emit(rental)"
        >
          Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
<mat-paginator
  class="mat-elevation-z1"
  [length]="this.total"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50]"
  showFirstLastButtons
  (page)="this.nextPage.emit($event)"
  aria-label="Pagination Navigation"
></mat-paginator>
