<div class="flex flex-col items-stretch">
  <mat-form-field *ngIf="data" class="sm:w-1/2 md:w-2/5">
    <mat-label>Search by title</mat-label>
    <input matInput placeholder="Search by title" value="" (input)="onSearchTitleChange($event)" name="title" />
  </mat-form-field>

  <app-chips (selectedCategories)="handleSelectedCategories($event)"></app-chips>

  <div class="pb-16" *ngIf="data; else elseBlock">
    <app-film-table
      [data]="data"
      [total]="total"
      (nextPage)="nextPage($event)"
      (rentMovie)="rentMovie($event)"
      (infoMovie)="infoMovie($event)"
    ></app-film-table>
  </div>
  <ng-template #elseBlock>
    <div class="flex justify-center">
      <mat-spinner aria-label="Loading films data"></mat-spinner>
    </div>
  </ng-template>
</div>
