<div class="background-image"></div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title class="title">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="centered-form">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" />
        </mat-form-field>
        <button mat-raised-button class="submit-button">Accedi</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
