<div class="rf-login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form>
      <mat-card-content>
        <mat-grid-list cols="1">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Password">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>
</div>
