<mat-sidenav-container>
  <mat-sidenav
    #rfnav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.width]='mobileQuery.matches ? "215px" : "250px"'
    role='navigation'
    class='rf-sidenav'
    fixedInViewport='true'>
    <div class='rf-d-flex rf-justify-end' *ngIf='mobileQuery.matches'>
      <button mat-icon-button aria-label='Close menu' (click)='rfnav.toggle()'>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class='rf-avatar-container'>
      <i class='material-icons mat-background-primary'>account_circle</i>
      <div class='mat-typography'>
        <p class='mat-headline-6' style='margin:0'>Username</p>
        <p class='mat-body-2' style='margin:0'>Surname Name</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item
        [activated]="this.router.url==='/'"
        (click)='this.router.navigate([""])'
      >
        <mat-icon matListItemIcon>movies</mat-icon>
        <div matListItemTitle>Movies</div>
      </mat-list-item>
      <mat-list-item
        [activated]="this.router.url==='/history'"
        (click)='this.router.navigate(["/history"])'
      >
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle>History</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style='height: calc(100vh); !important;' role='region'>
    <mat-toolbar class='mat-elevation-z1'>
      <button mat-icon-button (click)='rfnav.toggle()'>
        <mat-icon>menu</mat-icon>
      </button>
      <h1 style='margin:0'>Rentflix</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
