.rf-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 2.3rem 0.7rem;
  border-bottom: 1px solid #e0e0e0;

  h1 {
    margin: 0 0 0 5px;
  }
}


.rf-sidenav {

  mat-icon {
    margin-right: 1.2rem !important;
  }

  mat-divider {
    margin: 0.5rem 0 !important;
  }

  mat-nav-list {
    button {
      border: none;
      text-align: left;
    }
  }
}

div.test {
  display: flex;
  align-content: end;
  background-color: black;
  width: 100%;
}

div.rf-avatar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.7rem;
  margin: 0.5rem 0;

  i {
    font-size: 2.3rem;
    margin-right: 0.7rem;
    color: #c9c9c9;
  }

  div {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0;
  }

}

div.rf-main-content {
  padding: 20px;
}
