<mat-sidenav-container>
  <mat-sidenav
    class='rf-sidenav'
    #rfnav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.width]='mobileQuery.matches ? "215px" : "250px"'
    role='region'
    fixedInViewport='true'>
    <div class='flex rf-justify-end' *ngIf='mobileQuery.matches'>
      <button mat-icon-button aria-label='Close sidenav' title='Close sidenav' (click)='rfnav.toggle()'>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <!-- user info -->
    <div class='rf-avatar-container'>
      <i class='material-icons'>account_circle</i>
      <div class='mat-typography'>
        <p class='rf-m-0 mat-headline-6'>{{ username }}</p>
        <p class='rf-m-0 mat-body-2'>{{ firstName }} {{ lastName }}</p>
      </div>
    </div>
    <!-- navigation -->
    <mat-nav-list>
      <mat-divider></mat-divider>
      <button mat-list-item
              aria-label='Open movies view' title='Open movies view'
              [activated]="this.router.url==='/'"
              (click)='this.router.navigate([""])'
      >
        <mat-icon matListItemIcon>movies</mat-icon>
        <div matListItemTitle>Movies</div>
      </button>
      <button mat-list-item
              aria-label='Open history view' title='Open history view'
              [activated]="this.router.url==='/history'"
              (click)='this.router.navigate(["/history"])'
      >
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle>History</div>
      </button>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content style='height: 100vh;'
                       role='main'>
    <mat-toolbar class='rf-toolbar'>
      <!-- open menu and title -->
      <div class='flex rf-items-center'>
        <button mat-icon-button (click)='rfnav.toggle()'
                [attr.aria-label]="rfnav.opened ? 'Close sidenav' : 'Open sidenav'"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Rentflix</h1>
      </div>


      <button mat-icon-button [matMenuTriggerFor]='rfMenu'
              aria-label='Open menu' title='Open menu'>
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #rfMenu='matMenu'>
        <ng-template matMenuContent>
          <!-- dark/light mode -->
          <button *ngIf='this.darkModeService.darkMode' (click)='this.darkModeService.toggleDarkMode()' mat-menu-item
                  aria-label='Active light mode' title='Active light mode'>
            <mat-icon>light_mode</mat-icon>
            Light mode
          </button>
          <button *ngIf='!this.darkModeService.darkMode' (click)='this.darkModeService.toggleDarkMode()' mat-menu-item
                  aria-label='Active dark mode' title='Active dark mode'>
            <mat-icon>dark_mode</mat-icon>
            Dark mode
          </button>
          <!-- logout -->
          <button (click)='logout()' mat-menu-item aria-label='Logout' title='logout'>
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </ng-template>
      </mat-menu>

    </mat-toolbar>
    <!-- main content -->
    <div class='rf-main-content'>
      <router-outlet></router-outlet>
    </div>
    <!-- end main content -->
  </mat-sidenav-content>
</mat-sidenav-container>
