<mat-toolbar *ngIf='mobileQuery.matches' class='mat-elevation-z1'>
  <button mat-icon-button (click)='rfnav.toggle()' aria-label='Open menu'>
    <mat-icon>menu</mat-icon>
  </button>
  <h2>Rentflix</h2>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #rfnav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [style.marginTop.px]='mobileQuery.matches ? 56 : 0'
    fixedInViewport='true'>
    <mat-list-item>
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <mat-list-item>

      </mat-list-item>

    </mat-list-item>
    <mat-nav-list>
      <mat-list-item [activated]='true'>
        <mat-icon matListItemIcon>movies</mat-icon>
        <div matListItemTitle>Movies</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle>History</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style='height: calc(100vh - 65px); !important;'>
    <mat-toolbar class='mat-elevation-z1' *ngIf='!mobileQuery.matches'>
      <button mat-icon-button (click)='rfnav.toggle()'>
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Rentflix</h2>
    </mat-toolbar>
    <p>In culpa qui officia deserunt mollit anim id est laborum.</p>
  </mat-sidenav-content>
</mat-sidenav-container>
