<div class='flex flex-col items-stretch justify-start'>
  <div class='flex flex-wrap justify-stretch gap-4'>
    <div class='container max-w-[300px] md:max-w-[300px]' *ngFor='let card of cardData'>
      <app-stat-card [card]='card'></app-stat-card>
    </div>

  </div>
  <div class='pb-16 py-6 rounded-md'>
    <app-history-table
      [data]='data'
      [total]='total'
      (nextPage)='nextPage($event)'
      (infoMovie)='infoMovie($event)'
      (announceSortChange)='announceSortChange($event)'
    ></app-history-table>
  </div>
</div>
