<div class='flex flex-col items-stretch justify-start'>
  <div class='flex flex-wrap justify-stretch gap-4'>
    <div class='container min-w-[200px] max-w-[300px]' *ngFor='let card of cardData'>
      <app-stat-card role='list' [card]='card'></app-stat-card>
    </div>
  </div>
  <div class='pb-16 py-6 rounded-md' *ngIf='data; else elseBlock'>
    <app-history-table
      [data]='data'
      [total]='total'
      (nextPage)='nextPage($event)'
      (infoRental)='infoRental($event)'
      (announceSortChange)='announceSortChange($event)'
    ></app-history-table>
  </div>
  <ng-template #elseBlock>
    <div class='flex justify-center'>
      <mat-spinner diameter='150' aria-label='Loading history'></mat-spinner>
    </div>
  </ng-template>
</div>
