<h1 mat-dialog-title class="text-2xl font-bold" tabindex="0" style="margin: 0">
  {{ film.title }} ({{ film.release_year }} )
  <span [attr.aria-label]="film.language?.name">{{ getFlagEmoji(film.language?.name ?? '') }}</span>
</h1>
<mat-divider />

<mat-dialog-content>
  <!-- Header -->
  <div class="flex flex-col rounded-2xl gap-4">
    <p class="mat-body-2" style="margin: 0">
      {{ film.description }}
    </p>
    <!-- Film and rent details -->
    <div class="flex flex-col">
      <h4 class="text-xl font-bold" style="margin: 0">Details</h4>
      <div class="grid grid-cols-10 gap-2 border rounded w-full p-4">
        <!-- actors -->
        <div class="col-span-4 md:col-span-2">
          <span class="rf-blue-label w-full">Actors</span>
        </div>
        <div class="col-span-6 md:col-span-8">
          <span *ngIf="film.actors" class="mat-body-2"> {{ actorsList() }}</span>
        </div>
        <!-- film length -->
        <div class="col-span-4 md:col-span-2">
          <span class="rf-blue-label w-full">Length</span>
        </div>
        <div class="col-span-6 md:col-span-8">
          <span class="mat-body-2"> {{ film.length }} min </span>
        </div>
        <!-- rating -->
        <div class="col-span-4 md:col-span-2">
          <span class="rf-blue-label w-full">Rating</span>
        </div>
        <div class="col-span-6 md:col-span-8">
          <span class="mat-body-2"> {{ film.rating }} </span>
        </div>
        <!-- categories -->
        <div class="col-span-4 md:col-span-2">
          <span class="rf-blue-label w-full">Categories</span>
        </div>
        <div class="col-span-6 md:col-span-8">
          <span class="mat-body-2"> {{ film.category?.name }} </span>
        </div>
        <!--max rent duration -->
        <div class="col-span-4 md:col-span-2">
          <span class="rf-blue-label w-full">Max rent duration</span>
        </div>
        <div class="col-span-6 md:col-span-8">
          <span class="mat-body-2"> {{ film.rental_duration }} days </span>
        </div>
        <!-- actors -->
        <div class="col-span-4 md:col-span-2">
          <span class="rf-blue-label w-full">Price</span>
        </div>
        <div class="col-span-6 md:col-span-8">
          <span class="mat-body-2"> {{ film.rental_rate }}/day </span>
        </div>
      </div>
    </div>
    <!-- Available store -->
    <div class="flex flex-col">
      <h4 class="text-xl font-bold" style="margin: 0">Availability</h4>
      <div class="border rounded w-full p-4">
        <div class="flex flex-wrap gap-1">
          <span *ngFor="let store of film.availableStores" class="rf-label-bordered">
            {{ store.address.address }} ({{ store.address.city.city }}, {{ store.address.city.country.country }})
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end content-end gap-2 mt-4">
    <button mat-button title="Close film details dialog" aria-label="Close film details dialog"
            (click)="dialogRef.close()">Close
    </button>
    <button mat-flat-button color="primary" title="Open dialog to rent the movie"
            aria-label="Open dialog to rent the movie"
            (click)="startRent()">Rent
    </button>
  </div>
</mat-dialog-content>
